
.generator {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  .color-container {
    min-width: 100vw;
    display: flex;
    overflow-x: auto;
  }
  .gen-palette {
    height: 30px;
    background: #21d159;
    border-radius: 7px;
    border: none;
  }
  
}

.lock {
  margin: 5px auto;
  width: 50%;
}