
.generator {
  .color-container {
    min-width: 100%;
    display: flex;
    overflow-x: auto;
  }
  .gen-palette {
    height: 30px;
    background: #21d159;
    border-radius: 7px;
    border: none;
  }
  .save-palette {
    
  }
}

.lock {
  margin: 5px auto;
  width: 50%;
}