.project {
  margin: 10px;
  background-color: #10acf3;
  border: solid #fff 3px;
  border-radius: 10px;
  width: 30%;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 10px auto;
  width: 150px;
}