.Color {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 20px;
  width: 20%;
  min-width: 200px;
  border-radius: 10px;
  h3 {
    background: #ffffff;
    border-radius: 10px;
  }
}



.unlock {
  height: 40px;
  margin-top: 10px;
}

.lock {
  height: 40px;
  margin-top: 7px;
}
