
.Projects {
  form {
    margin: 20px;
    input {
      height: 30px;
      border-radius: 5px;
      border: none;
      margin: 5px;
    }
  }
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}